{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}

    {% block style %}

    {% endblock %}
  </head>

  <body class="bg-gray-50 leading-normal tracking-normal">
    {% block navbar %}
      {% include 'shared/navbar.html' %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
      {% include 'shared/footer.html' %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
  </body>
</html>
